
.content {
  width: 50%;  
}


/* Icones - Status */

.empty {
  background-image: url('../arquivos/icons/square-dashed.svg');
  background-size: 70%;
}

.check {
  background-image: url('../arquivos/icons/check.svg');
  background-color: var(--check-50);
  border: var(--check) 1px solid;
}

.clock {
  background-image: url('../arquivos/icons/clock.svg');
  background-color: var(--clock-50);
  border: var(--clock) 1px solid;
}

.off {
  background-image: url('../arquivos/icons/off.svg');
  background-color: var(--off-50);
  border: var(--off) 1px solid;
}

.eye {
  background-image: url('../arquivos/icons/eye.svg');
  background-color: var(--eye-50);
  border: var(--eye) 1px solid;
}

.link {
  background-size: 100%;
  height: 18px;
  width: 18px;
}





/* Botão */

button {
  min-width: 60px;
  width: fit-content;
  height: 44px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  
  color: var(--cinza-paleta);
  font-size: 16px;
  font-weight: 500;

  gap: 10px;
  display: flex;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.btn-NA {
  background-color: #fff;
  border: 1px solid var(--cinza-paleta);
  align-self: flex-end;
}





.feedback {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  border: solid 1px var(--cor-border);
  border-radius: 5px;
  background-color: #f7f7f7;
  gap: 16px;
}

.feedback p {
  font-size: 16px;
  color: var(--cinza-paleta);
  font-weight: 400;
  line-height: 20px;
}